body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

header {
  padding: 80px 20px;
  background: #111;
  color: white;
}

.btn {
  background: #ffcc00;
  padding: 15px 25px;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  font-size: 18px;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

