body {
    margin: 0;
    padding: 0;
    background: #0b0b0d; /* crna pozadina */
    font-family: Arial, sans-serif;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    width: 420px;
    background: rgba(0,0,0,0.45);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

.logo {
    width: 220px;
    margin-bottom: 20px;
}

h1 { font-size: 22px; margin-bottom: 18px; }

input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    margin-bottom: 12px;
    background: #111;
    color: #fff;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    width: 48%;
    margin: 6px 1%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(90deg,#2196F3,#21CBF3);
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.admin-link { display:block; margin-top:18px; color:#d0b3ff; text-decoration:none; }
