body {
    margin: 0;
    padding: 0;
    background: url('/static/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body {
    margin: 0;
    padding: 0;
    background: #0066ff;
    font-family: Arial, sans-serif;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 380px;
    background: rgba(0, 0, 0, 0.35);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

.logo {
    width: 230px;
    margin-bottom: 25px;
}

h1 {
    font-size: 22px;
    margin-bottom: 25px;
}

input {
    width: 90%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    margin-bottom: 12px;
    background: #222;
    color: #fff;
}

input::placeholder {
    color: #aaa;
}

button {
    width: 95%;
    background: #007bff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background:#005ed6;
}

.admin-link {
    display: block;
    margin-top: 20px;
    color: #e6b3ff;
    text-decoration: none;
    font-size: 14px;
}

.admin-link:hover {
    text-decoration: underline;
}
