body {
    margin: 0;
    padding: 0;
    background: #000000;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 380px;
    margin: 80px auto;
    background: #111;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.logo {
    width: 190px;
    margin-bottom: 20px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    background: #222;
    border: 1px solid #333;
    color: white;
    border-radius: 5px;
}

button {
    width: 94%;
    padding: 10px;
    margin-top: 15px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #0a84ff;
}

.admin-link {
    display: block;
    margin-top: 20px;
    color: #aaa;
    text-decoration: none;
}

table {
    width: 100%;
    margin-top: 20px;
}

td, th {
    padding: 8px;
    border-bottom: 1px solid #333;
}
