body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #d9e6ff, #ffffff);
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 380px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    margin: 100px auto;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.logo {
    width: 120px;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f2f4f7;
    font-size: 15px;
}

button {
    width: 95%;
    padding: 12px;
    background: #0084ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #006ed6;
}
