body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: Arial, sans-serif;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 380px;
    background: rgba(0, 0, 0, 0.45);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

.logo {
    width: 260px;
    margin-bottom: 25px;
}

h1 {
    font-size: 22px;
    margin-bottom: 25px;
    text-shadow: 0px 0px 6px #0066ff;
}

input {
    width: 90%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    margin-bottom: 12px;
    background: #222;
    color: #fff;
}

button {
    width: 95%;
    background: #0066ff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background:#0050cc;
}
