body {
    margin: 0;
    padding: 0;
    background: #f3f3f3;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 420px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background: #b22323;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #d12c2c;
}
