<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>Expired</title></head>
<body>
    <h3>Vaš MAC {{ mac }} je istekao.</h3>
    <form action="/create-checkout-session" method="POST">
        <input type="hidden" name="mac" value="{{ mac }}">
        <label><input type="radio" name="plan" value="year" checked> Godina - 7.99€</label><br>
        <label><input type="radio" name="plan" value="lifetime"> Lifetime - 11.99€</label><br>
        <button type="submit">Plati i produži</button>
    </form>
    <p><a href="/">Nazad</a></p>
</body>
</html>
