<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="UTF-8">
    <title>Bet TV Plus - Aktivacija MAC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css?v=2">
</head>

<body>

    <div class="box">

        <img src="/static/bettvplus.png" class="logo">

        <h1>Aktivacija MAC adrese</h1>

        <form action="/mac" method="GET">

            <input type="text" name="mac" placeholder="Unesi MAC adresu" required>
            <input type="text" name="code" placeholder="Unesi kod (ako ga imaš)">

            <button type="submit">Aktiviraj / Provjeri MAC</button>

        </form>

        <a href="/admin" class="admin-link">Administratorska ploča</a>

    </div>

</body>

</html>
