<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title>Uspješna prijava</title>
</head>
<body style="background-color: #2a003d; color: white; text-align: center; margin-top: 100px;">
    <h1>Prijava uspješna!</h1>
    <p>MAC adresa: {{ mac }}</p>
    <br>
<a href="/download" class="download-btn">📲 Preuzmi Bet TV Plus</a>

<style>
.download-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: #8a2be2;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.download-btn:hover {
    background: #6b1fb4;
}
</style>
</body>
</html>
